body {
    background:url('/assets/login_bg.jpeg') no-repeat center center;
	min-height:100%;
	background-size:cover;
}

h4.media-heading {
    color: black;
}

h3.listing-heading {
    color: black;
}

.main {
}

.main-body{
    background-color: rgba(250, 250, 250, 0.29);
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    border-color: rgba(250, 250, 250, .5);
    height: 90%;
}

.main-wrap {
  margin-bottom: 20px;


}

#logo {
    width: 300px;
    height: 55px;
    margin-top: 5px;
    position: relative;
    transform: translateY(-30%);

}

#user {
    width: 55px;
    height: 55px;
    margin-top: 5px;
    margin-right: 40px;
    position: relative;
    transform: translateY(-30%);
}

h3#listing.listing-heading {
    float: left;
    margin-left: 20px;
}

div.row.top-buffer {
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: rgba(250, 250, 250, 0.4);
    width: 100%;
}

img.img-responsive {
    height: 150px;
    margin: 15px;
}

.navbar {
   background-color: rgba(250, 250, 250, 0.4);
   border-color: rgba(250, 250, 250, .4);
   border-radius: 10px;
   height: 70px;
   width: 100%;
}

.container{
    width: 100%;
    margin-top: 10px;
}

#nav-collapse{
    margin-top: 85px;
}

.navbar-default .navbar-nav>li>a{
    color: black;
}

.navbar-default .navbar-nav>li>a{
    padding: 7px;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: -1px;
    margin-bottom: 50px;
    height: 46px;
    width: 50px;
}

.top-buffer {
    margin-top: 50px;
}

.btn-info {
    color: #fff;
    background-color: #31708f;
    border-color: #31708f;
}