<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid" id="navbarContainer">
      <div class="col-md-4">
        <form class="navbar" id="navLeft">

          <!--Logo-->
          <div class="navbar-header hidden-sm hidden-xs">
            <img id="logo-image" alt="Brand" src="/assets/long_logo.png">
          </div>
        </form>
      </div>

      <!--Search Bar-->

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="navbar-center col-md-4">
          <form class="navbar-form">
            <div class="input-group">
              <input id="searchBar" type="text" class="form-control input-lg" placeholder="Search Listings" />
              <span class="input-group-btn">
                <button class="btn btn-info btn-lg" type="button">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
              </span>
            </div>
          </form>
        </div>

        <!--User Icon-->
        <div class="col-md-4">
          <form class="navbar-right hidden-sm hidden-xs" id="navRight">
            <li id="userMenu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span>
                  <img id="user" src="/assets/default_user.png" class="img-responsive">
                </span>
                <span>
                  username
                </span>
                <span id="chevron" class="glyphicon glyphicon-chevron-down"></span>
              </a>
              <ul id="userDropDown" class="dropdown-menu">

                <li><a href="#" (click)="newListing()"> Sell <span class="glyphicon glyphicon-usd pull-right"></span></a></li>
                <li class="divider"></li>
                <li><a href="#"> Manage Listings <span class="glyphicon glyphicon-pencil pull-right"></span></a></li>
                <li class="divider"></li>
                <li><a href="#">Account Settings <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
                <li class="divider"></li>
                <li><a href="#">Sign Out <span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
              </ul>
            </li>
          </form>
        </div>
        <modal [animation]="animationsEnabled" (onClose)="onClose($event)" #navModal>
          <modal-header [show-close]="true">
            <h4 class="modal-title">New Listing</h4>
          </modal-header>
          <modal-body>
            <label for="pass" class="label">Listing Title: </label>
            <input id="pass" type="text" class="input" placeholder="example@smu.edu" [(ngModel)]="_userEntry.email" required>
          </modal-body>
          <modal-footer>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Close</button>
          </modal-footer>
        </modal>
      </div>
    </div>
  </div>
</nav>