<!--<form name="loginForm" #accountForm="ngForm" class="container" (ngSubmit)="signIn()" novalidate>-->
<div class="login-wrap">
	<img id="login-logo" src="/assets/long_logo.png">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
		<div class="login-form">
			<form name="loginForm" #loginForm="ngForm" class="sign-in-htm" (ngSubmit)="signIn()" novalidate>
				<div class="form-group">
					<label for="user_username" class="label"> Username </label>
					<input id="user_username" name="user_username" class="form-control" placeholder="username" [(ngModel)]="_userEntry.username"
					 #user_username="ngModel" required [ngClass]="{'error-class': user_username.errors}"/>
					<div *ngIf="user_username.errors && user_username.touched" class="alert alert-danger" role="alert">
						<ul>
							<li [hidden]="!user_username.errors.required">
								Username is required
							</li>
						</ul>
					</div>
				</div>
				<div class="form-group">
					<label for="user_password" class="label">Password</label>
					<input id="user_password" name="user_password" type="password" class="form-control" data-type="password" [(ngModel)]="_userEntry.password"
					 #user_password="ngModel" required [ngClass]="{'error-class': user_password.errors}">
					<div *ngIf="user_password.errors && user_password.touched" class="alert alert-danger" role="alert">
						<ul>
							<li [hidden]="!user_password.errors.required">
								Password is required
							</li>
						</ul>
					</div>
				</div>
				<div class="form-group">
					<input id="check" type="checkbox" class="check" checked>
					<label for="check"><span class="icon"></span> Keep me Signed in</label>
				</div>
				<div class="form-group">
					<input type="submit" class="button" value="Sign In" [disabled]="loginForm.invalid">
				</div>
				<div class="hr"></div>
				<div class="foot-lnk">
					<a href="#forgot">Forgot Password?</a>
				</div>
			</form>

			<!--<div class="sign-up-htm">-->
			<form name="signupForm" #signupForm="ngForm" class="sign-up-htm" (ngSubmit)="signUp()" novalidate>
				<div class="form-group">
					<label for="new_username" class="label">Username</label>
					<input id="new_username" name="new_username" class="form-control" [(ngModel)]="_userEntry.username" #new_username="ngModel"
					 required [ngClass]="{'error-class': new_username.errors}">
					<div *ngIf="new_username.errors && new_username.touched" class="alert alert-danger" role="alert">
						<ul>
							<li [hidden]="!new_username.errors.required">
								Username is required
							</li>
						</ul>
					</div>
				</div>
				<div class="form-group">
					<label for="new_user_email" class="label">Email Address</label>
					<input id="new_user_email" name="new_user_email" class="form-control" placeholder="example@smu.edu" [(ngModel)]="_userEntry.email"
					 #new_user_email="ngModel" required pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" 
					 [ngClass]="{'error-class': new_user_email.errors}" />
					<div *ngIf="new_user_email.errors && new_user_email.touched" class="alert alert-danger" role="alert">
						<ul>
							<div [hidden]="!new_user_email.errors.required">
								Email is required
							</div>
							<li [hidden]="!new_user_email.errors.pattern">
								Email is not valid
							</li>
						</ul>
					</div>
				</div>
				<div class="form-group">
					<label for="new_phone" class="label">Phone</label>
					<input id="new_phone" name="new_phone" class="form-control" [(ngModel)]="_userEntry.phone" #new_phone="ngModel" required
					 pattern="^([0-9]{10})$" [ngClass]="{'error-class': new_phone.errors}">
					<div *ngIf="new_phone.errors && new_phone.touched" class="alert alert-danger" role="alert">
						<ul>
							<li [hidden]="!new_phone.errors.required">
								Phone is required
							</li>
							<li [hidden]="!new_phone.errors.pattern">
								Phone Number is not valid
							</li>
						</ul>
					</div>
				</div>
				<div class="form-group">
					<label for="new_user_password" class="label">Password</label>
					<input id="new_user_password" name="new_user_password" type="password" class="form-control" data-type="password" [(ngModel)]="_userEntry.password"
					 #new_user_password="ngModel" required [ngClass]="{'error-class': new_user_password.errors}">
					<div *ngIf="new_user_password.errors && new_user_password.touched" class="alert alert-danger" role="alert">
						<ul>
							<li [hidden]="!new_user_password.errors.required">
								Password is required
							</li>
						</ul>
					</div>
				</div>
				<div class="form-group">
					<label for="repeat_user_password" class="label"> Confirm Password</label>
					<input id="repeat_user_password" name="repeat_user_password" type="password" class="form-control" data-type="password" [(ngModel)]="_userEntry.newPassword"
					 #repeat_user_password="ngModel" required [ngClass]="{'error-class': repeat_user_password.value !== new_user_password.value}" [ngClass]="{'error-class': repeat_user_password.errors}">
					<!--<div *ngIf="repeat_user_password.errors && repeat_user_password.touched" class="alert alert-danger" role="alert">
						<ul>
							<li [hidden]="!repeat_user_password.errors.required">
								Password is required
							</li>
						</ul>
					</div>-->
					<div *ngIf="repeat_user_password.value !== new_user_password.value && repeat_user_password.touched && !repeat_user_password.errors"
					 class="alert alert-danger" role="alert">
						<ul>
							<li [hidden]="repeat_user_password.value === new_user_password.value">
								Passwords do not match
							</li>
						</ul>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" class="button" value="Sign Up" [disabled]="signupForm.invalid || repeat_user_password.value !== new_user_password.value">
				</div>
				<div class="hr"></div>
			</form>
		</div>
	</div>
</div>
<!--</form>-->