body {
    background:url('./img/login_bg.jpeg') no-repeat center center;
	min-height:100%;
	background-size:cover;
}

#logo {
    width: 350px;
    height: 50px;
}

#user {
    width: 60px;
    height: 60px;
}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.container{
    width: 100%
}
