<!-- <div class="main-wrap"> -->
    <nav class="navbar navbar-default">
        <a class="navbar-brand" href="#">
            <img id="logo" src="img\long_logo.png" class="img-responsive">
        </a>

        <a class="navbar-brand navbar-right" href="#">
            <img id="user" src="img/default_user.png" class="img-responsive">
        </a>

        <div class="navbar-header navbar-right">
          <div class="clearfix"></div>
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                   <li><a href="#">Link1</a></li>
                </ul>
          </div>
      </div>

    </nav>

<!-- </div> -->
